__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
affectnet_dataset/
clahe_keypoints/
keypoints_affectnet/
clahe_dataset/
mask_dataset/
mask_keypoints/
FER_2013_dataset(gray)/
logs/
old_model/
saved_models/
EmoSet/
*.tmp
*.cache
*.tflite
*.task
*.out
*.csv