__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
affectnet_dataset/
keypoints_dataset/
keypoints_dataset_2/
FER_2013_dataset(gray)/
logs/
model/
saved_models/
EmoSet/
*.tmp
*.cache
*.tflite
*.task
*.out